.users
  .users-new
    = render "layouts/mercari-top"
    %main
      .users-new-title
        %p 会員情報入力
      .users-new-forms
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            .field-title
              = f.label :"ニックネーム"
              %p.hissu 必須
            = f.text_field :name, placeholder:"例)マッチョ", class:"form", autofocus: true
          .field
            .field-title
              = f.label :"メールアドレス"
              %p.hissu 必須
            = f.email_field :email, placeholder:"PC・携帯どちらでも可", class:"form", autofocus: true, autocomplete: "email"
          .field
            .field-title
              = f.label :"パスワード"
              %p.hissu 必須
            = f.password_field :password, placeholder:"6文字以上", class:"form", autocomplete: "new-password"
          .field
            .field-title
              = f.label :"パスワード(確認)"
              %p.hissu 必須
            = f.password_field :password_confirmation, placeholder:"6文字以上", class:"form", autocomplete: "new-password"
          .field
            .field-title
              %p 本人確認
            %p.text
              安心・安全にご利用いただくために、
              %br>/
              お客さまの本人情報の登録にご協力ください。
              %br>/
              他のお客さまに公開されることはありません。
          .field
            .field-title
              = f.label :"姓(全角)"
              %p.hissu 必須
            = f.text_field :lastname_kanji, placeholder:"例)愚地", class:"form"
          .field
            .field-title
              = f.label :"名(全角)"
              %p.hissu 必須
            = f.text_field :firstname_kanji, placeholder:"例)独歩", class:"form"
          .field
            .field-title
              = f.label :"姓カナ(全角)"
              %p.hissu 必須
            = f.text_field :lastname_kana, placeholder:"例)オロチ", class:"form"
          .field
            .field-title
              = f.label :"名カナ(全角)"
              %p.hissu 必須
            = f.text_field :firstname_kana, placeholder:"例)ドッポ", class:"form"
          .field
            .field-title
              = f.label :"生年月日"
              %p.hissu 必須
            = f.select :birth_year, ["---"]
            年
            \#{f.select :birth_month, ["---"]}月
            \#{f.select :birth_day, ["---"]}日
          .actions
            = f.submit "登録", class:"submit"
    = render "layouts/mercari-bottom"
