.home
  = render partial: "items/header"

.users
  .card
    %main
      .title
        %p 支払い方法
      .card-index
        %p クレジットカード一覧
        .add-card
          = link_to("クレジットカードを追加する", "/users/#{current_user.id}/card_create", class: "add-card-btn")
      .payment-method
        = link_to("支払い方法について", "", class: "payment-method-btn")

      %label 登録クレジットカード情報
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
      = form_tag("/users/card_delete", method: :post, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button 削除する

= render partial: "mypage"
.home
  = render partial: "items/footer"