.home
  = render partial: "items/header"

.users
  .card
    %main
      .title
        %p 支払い方法
      .card-index
        %p クレジットカード一覧
        .add-card
          = link_to("クレジットカードを追加する", card_create_user_path(id: current_user.id), class: "add-card-btn")
      .payment-method
        = link_to("支払い方法について", "", class: "payment-method-btn")

      %label 登録クレジットカード情報
      %br
      = credit_show
      %br
      = credit_addition
      = form_tag("/users/card_delete", method: :post, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button 削除する


= render partial: "mypage"
.home
  = render partial: "items/footer"