.home
  = render partial: "items/header"

.mypage
  .mypage__user
    = image_tag "/assets/シマシマ.png", alt: ""
    .mypage__user__information
      .user__icon
        %i.far.fa-user.fa-3x
      .user__name= current_user.name
= render partial: "mypage"
.home
  = render partial: "items/footer"
