.home
  = render partial: "items/header"
  .pan
    %ul
      %li
        = link_to("メルカリ", root_path, class: "page")
      %li
        %i.fas.fa-chevron-right
      %li
        = link_to("マイページ", "", class: "current-page")
.mypage
  .mypage__user
    = image_tag "/images/シマシマ.png", alt: ""
    .mypage__user__information
      .user__icon
        %i.far.fa-user.fa-3x
      .user__name= current_user.name
= render partial: "mypage"
.home
  = render partial: "items/footer"
